@using CourceProject.Components.Data
@using CourceProject.Components.Models
@using CourceProject.Components.Services
@inject IUserRepository _listUsers
@inject IAccountRepository _listAccounts
@*@inject ProtectedSessionStorage localStorage;*@
@inject Blazored.SessionStorage.ISessionStorageService localStorage;
@inject NavigationManager navigationManager;
@inject IEncryptor passwordEncryptor;
@page "/PasswordManager"

@rendermode InteractiveServer

<p> Менеджер паролей </p>
@if (isConnected)
{
    if (@_userId==0)
    {
        navigationManager.NavigateTo("/Authorization");
    }
    else
    {
        <p>@_pageTitle - "@_nameUser"</p>
        <p>userId - "@_userId" </p>
        <h1>Список аккаунтов</h1>
        <br />
        <button class="btn btn-primary" id="exit" @onclick="Exit">Выйти</button>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Ресурс</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Показ пароля</th>
                    <th>Смена пароля рандомно</th>
                    <th>Длина смены пароля</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Account account in accounts)
                {
                    <tr>                      
                        <td>@account.Source</td>
                        <td>@account.Login</td>
                        @if (flag && accountId == account.Id)
                        {
                            <td>@account.Password</td>
                        }
                        else
                        {
                            <td>@xxx</td>
                        }
                        <td>
                            <button class="btn btn-primary" id="show" @onclick="(()=>ShowPassword(account))">Показать</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" id="change" @onclick="(()=>Change(account,selectedNumber))">Сгенерировать новый пароль</button>
                        </td>
                        <td>
                            <select @bind="selectedNumber">
                                @for (int i = 6; i < 16; i++)
                                {
                                    <option> @i</option>
                                }
                            </select>

                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <InputText @bind-Value=@_newAccount.Source />
                    </td>
                    <td>
                        <InputText @bind-Value=@_newAccount.Login />
                    </td>
                    <td>
                        <InputText @bind-Value=@_newAccount.Password />
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" id="generate" @onclick="(()=>Generate(_newAccount,selectedNumber))">Сгенерировать пароль</button>
                    </td>
                    <td>
                        <select @bind="selectedNumber">
                            @for (int i = 6; i < 16; i++)
                            {
                                <option> @i</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <button class="btn btn-primary" id="show" @onclick="AddAccount">Добавить новый аккаунт</button>
        <div> @error </div>
    }
}
else
{
    <p><em>Loading...</em></p>
}



@code {
    private string _pageTitle = "Вы вошли под пользователем ";
    private int? _userId;
    private string? _nameUser;
    private IEnumerable<Account> accounts = new List<Account>();
    private Account _newAccount = new();
    private int? accountId;
    private bool flag=false;
    private string? xxx="*******";
    private int selectedNumber;
    private bool isConnected;
    private string? error;
    private string? encryptedPassword;
    private string? decryptedPassword;
    protected override async void OnInitialized()
    {
        accounts = await _listAccounts.GetAccounts();
        accounts = accounts.Where(a => a.UserId == _userId);
    }
    private void ShowPassword(Account account)
    {
        flag = !flag;
        if (flag && account.Password.Length>16)
            account.Password = passwordEncryptor.Decrypt(account.Password);
        if (!flag)
            account.Password = passwordEncryptor.Encrypt(account.Password);
        accountId = account.Id;
    }
    private async void Change(Account account, int selectedNumber)
    {
        Generate(account, selectedNumber);
        await _listAccounts.UpdateAccount(account);
    }
    private void SelectedNumber(ChangeEventArgs args)
    {
        selectedNumber =Convert.ToInt32(args?.Value);
    }
    private async Task ReadLocalStorage()
    {
        _nameUser = await localStorage.GetItemAsync<string>("userName");
        _userId = await localStorage.GetItemAsync<int>("userId");
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            isConnected = true;
            await ReadLocalStorage();
            StateHasChanged();
        }
    }
    private void Generate(Account _newAccount, int selectedNumber)
    {
        if (selectedNumber == 0)
            selectedNumber = 8;
        _newAccount.Password = passwordEncryptor.Encrypt(GeneratePassword.Generate(selectedNumber));
        error="Сгенерирован новый пароль"; 
    }
    private async void AddAccount()
    {        
        if (_newAccount.Source != null && _newAccount.Login != null && _newAccount.Password != null && _newAccount.Password.Length>5)
        {
            _newAccount = new()
                {
                    Source = _newAccount.Source,
                    Login = _newAccount.Login,
                    Password = passwordEncryptor.Encrypt(_newAccount.Password),
                    UserId = _userId
                };
            await _listAccounts.AddAccount(_newAccount);
            _newAccount = new();
            error = "Аккаунт успешно добавлен";
            navigationManager.NavigateTo("/PasswordManager", true);
        }
        else
            error = "Не все поля заполнены корректно, также проверьте чтобы пароль содержал не менее 6 символов";
    }
    private async void Exit()
    {
        navigationManager.NavigateTo("/Authorization");
        await localStorage.ClearAsync();
    }
}
