@using CourceProject.Components.Data
@using CourceProject.Components.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using CourceProject.Components.Services
@inject IUserRepository _listUsers
@inject NavigationManager navigationManager
@inject IEncryptor passwordEncryptor
@inject Blazored.SessionStorage.ISessionStorageService localStorage
@inject ILogger<Registration> logger
@inject IToastService toastService
@page "/Registration"

@rendermode InteractiveServer

<h3 style ="color:blueviolet; font-style:oblique" align="center">@_pageTitle</h3>
<br/>
<div class="container-fluid">
    <div class="col-md-4 offset-md-4" text-align="left">
        <div class="form-container">
            <div class="form-icon"><i class="fa fa-user"></i></div>
            <h3 class="title">Registration</h3>
            <EditForm Model="@_user" OnValidSubmit="AddUser" FormName="user_registration" class="form-horizontal">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <InputText id="name" @bind-Value="@_user.Name" class="form-control" placeholder="Имя" />
                </div>
                <div class="form-group">
                    <label>Фамилия пользователя</label>
                    <InputText id="lastname" @bind-Value="@_user.LastName" class="form-control" placeholder="Фамилия" />
                </div>
                <div class="form-group">
                    <label> Email пользователя</label>
                    <InputText id="email" @bind-Value="@_user.Email" class="form-control" type="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label> Пароль пользователя</label>
                    <InputText type="password" id="password" @bind-Value="@_user.Password" class="form-control" placeholder="Пароль" />
                </div>
                <div class="form-group">
                    <label> Повтор Пароля пользователя</label>
                    <InputText type="password" id="password" @bind-Value="@repeatPassword.Password" class="form-control" placeholder="Повторите пароль" />
                </div>
                <ValidationSummary />
                <br />
                <br /> <input type="submit" value="Добавить пользователя" class="btn btn-default">
                <br />
            </EditForm>
        </div>
    </div>
</div>


@code {
    private string _pageTitle = "Регистрация нового пользователя и добавление в базу";
    private int? userId;
    private string? userName;
    private IEnumerable<User> users = new List<User>();
    [SupplyParameterFromForm]
    private User _user { get; set; } = new();
    [SupplyParameterFromForm]
    private RepeatPassword repeatPassword { get; set; } = new();

    #region метод добавления нового пользователя в базу
    private async Task AddUser() // метод добавления нового пользователя в базу
    {
        if (!SearchUser())
        {
            if (_user.Password != repeatPassword.Password)
            {
                toastService.ShowError("Пароли не совпадают");
            }
            else
            {
                await _listUsers.AddUser(
                new User
                    {
                        Name = _user.Name,
                        LastName = _user.LastName,
                        Email = _user.Email,
                        Password = passwordEncryptor.Encrypt(_user.Password!),
                        LastLoginDate=DateTime.Now,
                        LongAbsence=false
                    });
                logger.LogInformation("Зарегистрирован новый пользователь {" + _user.Name+"}");
                toastService.ShowSuccess("Новый пользователь " + _user.Name + " успешно зарегистрирован");
                var users = await _listUsers.GetUsers();
                _user = users.LastOrDefault()!;
                userId = _user.Id;
                userName = _user.Name;
                _user = new();
                await SaveLocalStorage();
                navigationManager.NavigateTo("/PasswordManager");
            }
        }
        else
        {
            toastService.ShowError("Пользователь с таким именем уже зарегистрирован в системе");
        }
    }
    #endregion
    private async Task SaveLocalStorage()
    {
        await localStorage.SetItemAsync("userId", userId);
        await localStorage.SetItemAsync("userName", userName);
        logger.LogInformation("Сохранение имени и Id пользователя {" + userName+ "} в sessionStorage");
    }
    private bool SearchUser()
    {
        bool flag= false;
        foreach (User user in users)
        {           
            if (user.Name == _user.Name)
            {   
                _user.Name = " ";
                flag = true;
            }
        }
        return flag;
    }
    protected override async Task OnInitializedAsync()
    {
        users = await _listUsers.GetUsers();
    }
}
